# Environment
.env
venv/
.venv/
env/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyc

# Models
*.pkl

# Hugging Face cache
models/finbert_cache/
*.bin
*.safetensors
.cache/
huggingface/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Database
*.db

data/raw/
data/charts/
*.csv


# Logs
*.log

*.bin

__pycache__/

.virtual_documents/
